<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo!</h1>
    <form action='/quotes' method='POST'>
      Your Name:<input type='text' name='name'><br>
      <br>
      Your Quote:<textarea name='quote'></textarea><br>
      <br>
        <input type='submit' value='Add My Quote!'><br>
        <br>
    </form>
    <br>
    <form action='/quotes' method='GET'>
        <input type='submit' value='Skip to Quotes!'>
    </form>

  </body>
</html>
